# Installation Profile
COMPOSE_PROFILES=server
# COMPOSE_PROFILES=host

# Shared Environment Variables
TZ=Australia/Melbourne
BIND_ADDRESS="INSERT_YOUR_PRIVATE_MESH_IP"

# Version & Tier Controls
PORTAINER_EDITION=ce
PORTAINER_VERSION=2.45.1

#Traefik Configuration
DOMAIN_NAME="example.com"
CERT_RESOLVER=lets-encrypt

# Dozzle Dynamic Multi-Node Log Scraping Array
# Specify the private mesh network IP address (e.g. your Headscale IP like 100.64.0.X)
DOZZLE_AGENTS="--remote-agent 100.64.0.X:7007 --remote-agent 100.64.0.Y:7007"
