# Portainer Server Environment Variables
# Edit to match your environment. See https://docs.portainer.io/v/ce-2.9/start/install/server/docker/linux for more information.
PORTER_LICENSE_KEY="Your portainer Business Edition license key if applicable"

# Portainer Agent Environment Variables
EDGE=1
EDGE_ID="replace-with-your-edge-id-uuid"
EDGE_KEY="replace-with-your-long-base64-edge-key-string"
EDGE_INSECURE_POLL=1
